//- h3 완료여부
//- section.options.done 
//-   a(data-value='true').option 완료
//-   a(data-value='false').option 미완료
//-   a(data-value='all').all 전체


h3 크기
section.options.priority 
  a(data-value='3').option 큼
  a(data-value='2').option 보통
  a(data-value='1').option 작음
  a(data-value='all').all 전체

h3 인원
section.options.category
  a(data-value='1인').option 1인
  a(data-value='2인').option 2인
  a(data-value='3인').option 3인
  a(data-value='4인 이상').option 4인 이상
  a(data-value='all').all 전체
