.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') 
        i.fa.fa-home
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
      ul.nav.navbar-nav.navbar-right
        if (currentUser) 
          li
            a(href='/todos') 호스팅 하기
          li
            a(href='/auto/index') 숙소 검색
          li
            a(href='/hosting') 예약한 숙소
          li
            a(href='/users/#{currentUser._id}') 개인정보 수정
          li
            a(href='/users') 사용자 관리
          li
            a(href='/signout') 로그아웃
        else
          li
            a(href='/signin') 로그인
          li
            a(href='/users/new') 회원가입
          
